<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Eliminar Tarea</h1>
    <form method="POST">
        {% csrf_token %}
        <p>¿Estás seguro de que deseas eliminar la tarea "{{ tarea.titulo }}"?</p>
        <button type="submit">Sí, eliminar</button>
        <a href="{% url 'detalle_tarea' tarea.pk %}">Cancelar</a>
    </form>
   
</body>
</html>