<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

            <h1>Mis Tareas</h1>

        <ul>
        {% for tarea in tareas %}
            <li>
            <strong>{{ tarea.titulo }}</strong>  
            - {{ tarea.descripcion }}  
            - {{ tarea.fecha|date:"d/m/Y H:i" }}

            <!-- Links de acciones -->
            <a href="{% url 'detalle_tarea' tarea.pk %}">Ver</a> |
            <a href="{% url 'actualizar_tarea' tarea.pk %}">Editar</a> |
            <a href="{% url 'eliminar_tarea' tarea.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No tienes tareas todavía.</li>
        {% endfor %}
        </ul>

        <a href="{% url 'crear_tarea' %}">➕ Nueva tarea</a>
</body>
</html>